*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(255, 171, 157, 0.5);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: #ffab9d;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}
.spin-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.q {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}
body {
  background-color: #304248;
}
.nav {
  // height:36.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  &__brand {
    font-size: 9.8rem;
  }
  &__item {
    font-size: 3rem;
    &s {
      display: flex;
      width: 50%;
      justify-content: space-around;
      align-items: center;
      height: 100%;
    }
  }
}

#drop-area {
  max-width: 55rem;
  width: 100%;
  height: 40rem;
  padding: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  cursor: pointer;
  color: #cccccc;
  border: 6px dashed #fff;
  border-radius: 10px;
}
#drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
  text-align: left;
  font: normal normal normal 2.5rem Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding-bottom: 2.1rem;
}
.my-form {
  margin-bottom: 10px;
}
.scroll_data-resize {
  margin-left: 5rem;
  width: 350px;
  height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  &::-webkit-scrollbar {
    width: 0.2rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(20, 20, 19);
  }
}
.button {
  width: 18.6rem;
  height: 6.5rem;
  display: flex;
  cursor: pointer;
  background: #1900ff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 20px;
  opacity: 1;
  justify-content: center;
  align-items: center;
  margin-left: 2.5rem;
  text-align: left;
  font: normal normal bold 3.5rem Microsoft Tai Le;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}

.btn {
  width: 150px;
  height: 150px;
  background: #ddd;
  position: relative;
  text-align: center;
  margin: 15px;
  overflow: hidden;
  border-radius: 100%;
  display: inline-block;
}
.btn.upload {
  background: #f49845;
}
.btn.upload .cloud {
  box-shadow: 0px 0px #f17d15, 1px 1px #f17d15, 2px 2px #f17d15, 3px 3px #f17d15, 4px 4px #f17d15, 5px 5px #f17d15, 6px 6px #f17d15, 7px 7px #f17d15, 8px 8px #f17d15, 9px 9px #f17d15, 10px 10px #f17d15, 11px 11px #f17d15, 12px 12px #f17d15, 13px 13px #f17d15, 14px 14px #f17d15, 15px 15px #f17d15, 16px 16px #f17d15, 17px 17px #f17d15, 18px 18px #f17d15, 19px 19px #f17d15, 20px 20px #f17d15, 21px 21px #f17d15, 22px 22px #f17d15, 23px 23px #f17d15, 24px 24px #f17d15, 25px 25px #f17d15, 26px 26px #f17d15, 27px 27px #f17d15, 28px 28px #f17d15, 29px 29px #f17d15, 30px 30px #f17d15, 31px 31px #f17d15, 32px 32px #f17d15, 33px 33px #f17d15, 34px 34px #f17d15, 35px 35px #f17d15, 36px 36px #f17d15, 37px 37px #f17d15, 38px 38px #f17d15, 39px 39px #f17d15, 40px 40px #f17d15, 41px 41px #f17d15, 42px 42px #f17d15, 43px 43px #f17d15, 44px 44px #f17d15, 45px 45px #f17d15, 46px 46px #f17d15, 47px 47px #f17d15, 48px 48px #f17d15, 49px 49px #f17d15, 50px 50px #f17d15;
}
.btn.upload .arrow {
  -webkit-animation: uplaod 1s linear infinite;
  animation: uplaod 1s linear infinite;
}
.btn.upload .arrow:after {
  top: auto;
  bottom: 100%;
  border-color: transparent transparent #97ca03 transparent;
}

.cloud {
  width: 100px;
  height: 40px;
  position: relative;
  background: #fff;
  display: inline-block;
  border-radius: 50px;
  margin: 60px auto 0;
  box-shadow: 0px 0px #00a3cc, 1px 1px #00a3cc, 2px 2px #00a3cc, 3px 3px #00a3cc, 4px 4px #00a3cc, 5px 5px #00a3cc, 6px 6px #00a3cc, 7px 7px #00a3cc, 8px 8px #00a3cc, 9px 9px #00a3cc, 10px 10px #00a3cc, 11px 11px #00a3cc, 12px 12px #00a3cc, 13px 13px #00a3cc, 14px 14px #00a3cc, 15px 15px #00a3cc, 16px 16px #00a3cc, 17px 17px #00a3cc, 18px 18px #00a3cc, 19px 19px #00a3cc, 20px 20px #00a3cc, 21px 21px #00a3cc, 22px 22px #00a3cc, 23px 23px #00a3cc, 24px 24px #00a3cc, 25px 25px #00a3cc, 26px 26px #00a3cc, 27px 27px #00a3cc, 28px 28px #00a3cc, 29px 29px #00a3cc, 30px 30px #00a3cc, 31px 31px #00a3cc, 32px 32px #00a3cc, 33px 33px #00a3cc, 34px 34px #00a3cc, 35px 35px #00a3cc, 36px 36px #00a3cc, 37px 37px #00a3cc, 38px 38px #00a3cc, 39px 39px #00a3cc, 40px 40px #00a3cc, 41px 41px #00a3cc, 42px 42px #00a3cc, 43px 43px #00a3cc, 44px 44px #00a3cc, 45px 45px #00a3cc, 46px 46px #00a3cc, 47px 47px #00a3cc, 48px 48px #00a3cc, 49px 49px #00a3cc, 50px 50px #00a3cc;
}
.cloud:after, .cloud:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  top: -20px;
  background: #fff;
  left: 5px;
}
.cloud:before {
  width: 40px;
  height: 40px;
  left: 50px;
}

.arrow {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  top: 10px;
  width: 15px;
  height: 10px;
  background: #97ca03;
  display: inline-block;
}
.arrow:after {
  content: "";
  position: absolute;
  left: -8px;
  top: 100%;
  border: 15px solid transparent;
  border-top-color: #97ca03;
}
@-webkit-keyframes uplaod {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}
@keyframes uplaod {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

// .drop-zone {
//   max-width: 55rem;
//   height: 40rem;
//   padding: 2.5rem;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
//   font-family: "Quicksand", sans-serif;
//   font-weight: 500;
//   font-size: 2rem;
//   cursor: pointer;
//   color: #cccccc;
//   border: 6px dashed #fff;
//   border-radius: 10px;
// }
.welcome-input-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 21rem;
  align-items: flex-end;
  flex-wrap: wrap;
}
.input-drag {
  width: 55rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome--heading {
  text-align: left;
  font: normal normal normal 9rem Segoe Print;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.input-title {
  text-align: left;
  font: normal normal bold 36px Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-bottom: 5rem;
}
.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.container {
  display: flex;
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 0.2rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(20, 20, 19);
  }
}

.scroll_data {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 670px;
  width: 510px;
  &::-webkit-scrollbar {
    width: 0.2rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(20, 20, 19);
  }
}
.settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
  margin-bottom: 1rem;
}
.setting--fontchange {
  width: 39.9rem;
  height: 12.8rem;
  background-color: #304248;
  border-radius: 10px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}
.fontchange--text {
  text-align: left;
  font: normal normal bold 2.5rem Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  width: max-content;
  height: 3.3rem;
  margin-bottom: 1.3rem;
}
.fontchange--selector {
  max-width: 32.5rem;
  max-height: 5rem;
  width: 100%;
  height: 100%;
  background-color: #43545a;
  opacity: 1;
  font-size: 2.5rem;
  text-align: left;
  border-radius: 5px;
  color: #fff;
}
.fontCopt {
  width: 32.5rem;
  height: 5rem;
}
.setting--fontcolor {
  margin-right: 2rem;
  width: 39.9rem;
  height: 12.8rem;
  background-color: #43545a;
  border-radius: 10px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fontcolor--text {
  text-align: left;
  font: normal normal bold 2.5rem Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  width: max-content;
  height: 3.3rem;
  margin-bottom: 1.3rem;
}

.fontcolor--option {
  display: flex;
  flex-wrap: wrap;
  padding: 1;
  justify-content: space-around;
}
.color-option {
  &-black {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 5px;
    height: 4.8rem;
    width: 4.8rem;
    background-color: #000;
  }
  &-red {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 5px;
    height: 4.8rem;
    width: 4.8rem;
    background-color: red;
  }
  &-blue {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 5px;
    height: 4.8rem;
    width: 4.8rem;
    background-color: blue;
  }
}


.setting--margin {
  margin-right: 2rem;
  width: 60.4rem;
  height: 12.8rem;
  background-color: #43545a;
  border-radius: 10px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lines--btn-text,
.margin--btn-text {
  width: 14.8rem;
  height: 3.3rem;
  text-align: left;
  font: normal normal normal 2.5rem Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-right: 2rem;
  text-align: center;
}
.margin--text-option {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.margin--container,
.lines--container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 3rem;
}

.switch-holder {
  background-color: #43545a;
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 39.9rem;
  height: 6.4rem;
  // box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.7),
  //   10px 10px 10px rgba(0, 0, 0, 0.3),
  //   inset 8px 8px 15px rgba(255, 255, 255, 0.7),
  //   inset 10px 10px 10px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  align-items: center;
}

.switch-label {
  color:white;
  font-size: 2.5rem;
  width: 150px;
}

.switch-label i {
  margin-right: 5px;

}

.switch-toggle {
  height: 40px;
}

.switch-toggle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.switch-toggle input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 0;
  cursor: pointer;
  box-shadow: inset -8px -8px 15px rgba(#43545a, 0.6),
    inset 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.switch-toggle input[type="checkbox"] + label::before {
  position: absolute;
  content: "OFF";
  font-size: 13px;
  text-align: center;
  line-height: 25px;
  top: 8px;
  left: 8px;
  width: 45px;
  height: 25px;
  border-radius: 20px;
  background-color: #d1dad3;
  box-shadow: -3px -3px 5px rgba(#43545a, 0.5),
    3px 3px 5px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked + label::before {
  left: 50%;
  content: "ON";
  color: #fff;
  background-color: #00b33c;
  // box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5), 3px 3px 5px #00b33c;
}


.margin--heading {
  text-align: left;
  font: normal normal bold 2.5rem Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  width: max-content;
  height: 3.3rem;
  margin-bottom: 1.3rem;
}

.setting--spinbot {
  margin-right: 2rem;
  width: 39.9rem;
  height: 12.8rem;
  background-color: #43545a;
  border-radius: 1rem;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spin--intput--data {
  width: 100rem;
  height: 40rem;
}

.spinbot--checkbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.spin--text {
  text-align: left;
  font: normal normal bold 2.5rem Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding: 2.1rem;
}
.input-output-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.input-box,
.output-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.page--btn {
  width: 19.9rem;
  height: 6.5rem;
  background-color: #43545a;
  color: white;
  border-radius: 2rem;
  margin-right: 2rem;
  font: normal normal bold 3.5rem Microsoft Tai Le;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.input--heading,
.output--heading {
  text-align: left;
  font: normal normal bold 5rem Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-bottom: 2rem;
}
.generate--image-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.generate {
  font-size: 3.5rem;
  margin-top: 13.5rem;
  width: 32.5rem;
  height: 6.5rem;
  background-color: #1900ff;
  color: white;
  border-radius: 20px;
  margin-bottom: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.download-image-scroll-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.download--container {
  display: flex;
  justify-content: center;
}
.charcount {
  display: flex;
  justify-content: flex-end;
  width: 98rem;
  height: 2rem;
  transform: translateY(-2rem);
}
@media (max-width: "700px") {
  // .settings{
  //   display: flex;
  //   flex-direction: column;
  // }
  .charcount {
    display: flex;
    justify-content: flex-end;
    width: 28rem;
    height: 2rem;
    transform: translateY(-2rem);
  }
  .page--btn {
    width: 10rem;
    height: 3.2rem;
    font: normal normal bold 1.75rem Microsoft Tai Le;
  }
  .spin--intput--data {
    width: 30rem;
    height: 15rem;
  }
  .margin--text-option {
    flex-direction: column;
  }
  .setting--margin {
    width: 39.9rem;
    height: 13.8rem;
    margin: 0px;
    margin-bottom: 1rem;
  }
  .margin--btn-text,
  .lines--btn-text {
    margin-bottom: 1.2rem;
  }
  .setting--fontchange,
  .setting--fontcolor,
  .setting--spinbot {
    margin: 0px;
    margin-bottom: 1rem;
  }
  #drop-area {
    max-width: 40rem;
  }
}

@font-face {
  font-family: Tomatoes;
  src: url("./fonts/Tomatoes.ttf");
}

@font-face {
  font-family: snake;
  src: url("./fonts/Snake.woff");
}

@font-face {
  font-family: strawberry;
  src: url(./fonts/StrawberryCupcakes.ttf);
}

@font-face {
  font-family: unlucky;
  src: url(./fonts/UnluckyHandwriting.ttf);
}
@font-face {
  font-family: speed;
  src: url(./fonts/SpeedWritten.ttf);
}
@font-face {
  font-family: test;
  src: url(./fonts/test1.ttf);
}
@font-face {
  font-family: test2;
  src: url(./fonts/Test.ttf);
}