.mainpage{

}
.margintop
{
    max-width: 381px; 
    max-height: 50px;

}
.content{
  width: 400px;
  max-height: 580px;
  height: 580px;
    margin-left: 20px;
    background-image:url("./images/temp.png")

   
}

.ptag{
  margin: 0;
  width: 400px;
  max-height: 580px !important;
  height: 580px !important;
  line-height: 20px !important;
   font-family:  myFirstFont1 ;
  font-size: 30pt !important;
  text-decoration: none;
  vertical-align: baseline !important;
  background: transparent;

}
@font-face {
    font-family: myFirstFont;
    src: url("./fonts/Tomatoes.ttf");
  }

  @font-face {
    font-family: myFirstFont1;
    src: url("./fonts/Snake.woff");
        }

